@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Comfortaa:wght@700&family=Cutive+Mono&family=Roboto+Mono:wght@400;500;600;700&family=Source+Code+Pro:wght@200;300;400&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 20px;
  }
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 0vh;
    background: rgb(19,19,19);
    border: none;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: rgb(64 64 64);
    border-radius: 100vh;
    border: none;
    transition: background 0.5s;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(52, 211, 153);
  }
  .scrollbar::-webkit-scrollbar-track:hover {
    border-radius: 100vh;
    background: rgb(19,19,19);
    border: none;
  }

  .scrollbarSmall::-webkit-scrollbar {
    width: 5px;
    height: 20px;
  }
  .scrollbarSmall::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: rgb(19,19,19);
    border: none;
  }
  .scrollbarSmall::-webkit-scrollbar-thumb {
    background: rgb(64 64 64);
    border-radius: 100vh;
    border: none;
    transition: background 0.5s;
  }
  .scrollbarSmall::-webkit-scrollbar-thumb:hover {
    background: rgb(52, 211, 153);
  }
  .scrollbarSmall::-webkit-scrollbar-track:hover {
    border-radius: 100vh;
    background: rgb(19,19,19);
    border: none;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
